@rem: 30rem;
//.nav_module(@width,@height,@font-size) {
//  text-align: center;
//  font-size: @font-size/@rem;
//  .item {
//    width: @width/@rem;
//    height: @height/@rem;
//    img {
//      height: @width/@rem;
//    }
//    span {
//      display: inline-block;
//      font-weight: 600;
//    }
//  }
//}
//模版改版，将图片改为背景图片
.show{
  display: block!important;
}
.nav_module(@width,@height,@font-size,@url,@positionY:0) {

  & {
    text-align: center;
    font-size: @font-size/@rem;
    //width: @width/@rem;
    height: @height/@rem;

    > i {
      display: block;
      height: @width/@rem;
      width: @width/@rem;
      margin: 0 auto;
      background: url(@url) no-repeat 0 @positionY;
      background-size: 100% auto;
    }
    > span {
      display: inline-block;
      font-weight: 600;
    }
  }

}

/*头部内容*/
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80/@rem;
  font-size: 23/@rem;
  line-height: 80/@rem;
  color: white;
  text-align: center;
  >i {
    width: 64/@rem;
    height: 64/@rem;
    border-radius: 50%;
    border: 2/@rem solid rgba(256, 256, 256, 0.3);
  }
  >.menu {
    position: absolute;
    left: 44/@rem;
    top: 8/@rem;
    background: url("../../img/m_img/menu.png") no-repeat center;
    background-size:80%;
  }
  >.message {
    position: absolute;
    right: 44/@rem;
    top: 8/@rem;
    background: url("../../img/m_img/message.png") no-repeat center;
    background-size:80%;
  }
}

/*主体部分css*/
.content {
  position: relative;
  width: 100%;
  height: 100%;
  //padding-top: 80/@rem;
  padding-bottom: 120/@rem;
  > .body {
    width: 100%;
    height: 100%;
    //overflow: hidden;
    /* 轮播图css开始 */
    > .imgs {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 488/@rem;
      //background-color: cadetblue;
      > .i_ul {
        width: 400%;
        height: 100%;
        > li {
          display: none;
          text-align: center;
          width: 25%;
          height: 100%;
          float: left;
          > img {
            //height: 100%;
            width: 100%;
          }
        }
      }
      .i_ul_pointer {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 23/@rem;
        margin: 0 auto;
        .pointer {
          display: inline-block;
          margin: 0 16/@rem;
          width: 19/@rem;
          height: 19/@rem;
          overflow: hidden;
          background-color: white;
          border-radius: 50%;
        }
        .p_active {
          background-color: #34ccfe !important;
        }
      }
    }
    /* 轮播图css结束 */
    /* 四个分类小模块 */
    .nav {
      display: flex;
      width: 100%;
      height: 116/@rem;
      margin-top: 42/@rem;
      justify-content: space-around;
      //.nav_module(92, 116, 18);
      > .item:nth-child(1) {
        .nav_module(92, 116, 18, '../../img/m_img/nav-1.jpg')
      }
      > .item:nth-child(2) {
        .nav_module(92, 116, 18, '../../img/m_img/nav-2.jpg')
      }
      > .item:nth-child(3) {
        .nav_module(92, 116, 18, '../../img/m_img/nav-3.jpg')
      }
      > .item:nth-child(4) {
        .nav_module(92, 116, 18, '../../img/m_img/nav-4.jpg')
      }
    }
    /*四个分类小模块结束*/

    /*小组分类的列表模块开始*/
    .group {
      width: 100%;
      margin-top: 30/@rem;
      display: grid;
      grid-template-columns: repeat(2, 328/@rem);
      /*和flex很像，收藏了一个文章，讲的很好*/
      justify-content: space-around;
      grid-row-gap: 19/@rem;
      .item {
        background-color: #7efe7f;
        height: 184/@rem;
      }
    }
    /*小组分类的列表模块开始*/
  }

}

/*脚部*/
.footer {
  display: flex;
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 90/@rem;
  padding: 8/@rem 50/@rem;
  border-top: 2/@rem solid #444444;
  justify-content: space-around;
  > .item:nth-child(1) {
    .nav_module(51, 75, 18, '../../img/m_img/index01.jpg');
  }
  > .item:nth-child(2) {
    .nav_module(51, 75, 18, '../../img/m_img/8@3x.png');
  }
  > .item:nth-child(3) {
    .nav_module(51, 75, 18, '../../img/m_img/break_03_u.jpg');
  }
  > .item:nth-child(4) {
    .nav_module(51, 75, 18, '../../img/m_img/t-44@3x.png');
  }
  > .item:nth-child(5) {
    .nav_module(51, 75, 18, '../../img/m_img/data@3x.png');
  }

}